@media(max-width: 767px){

    .box-column1 {
        float: none;
        width: 300px;
        margin: 0 auto;
    }
    .box-column2 {
        float: none;
        width: 300px;
        margin: 0 auto;
    }

    .ourgallery-photos{
        max-width: 50%;
        margin: 0 auto
    }

    .ourgallery-photos img{
        max-width: 100%;
        width: 100%;

    }

    .box-info-text-left4{
        margin-bottom: 0px;
    }

    .box-info-text-right1{
        margin-top: 0px;
    }

}