/*Main*/
.main{
    max-width: 100%;
    width: 100%;
}

.main-template{
    max-width: 100%;
}

.main-mockup{
    max-width: 100%;
}

/*imagen*/
.main-template-img img{
    @include liquid;
    display: block;
}

.main-template-info{

    padding-left: 27px;
    @include info;
    
}


.main-mockup-img img{
    display: block;
    @include liquid;
}

.main-mockup-info{

    @include info;

}

/* texto*/
.main-template-info h2{
    font-size: 2.125rem;
    font-weight: bold;
    color:$color-h2;
}

.main-template-info p{

    font-weight: bold;
    color:$color-aconres;
    padding-bottom: 20px;
    font-size: 1rem;
}

.main-mockup-info h2{

    font-size: 1.812rem;
    @include h2;
}


.main-mockup-info p{

    color:$color-aconres;
    padding-bottom: 31px;
    font-size: 1rem;
}






