/* Gallery */

.ourgallery-info{

    margin-bottom: 28px;
    background-color: $color-gallery;
    padding-bottom: 70px;
    text-align: center;
    padding-top: 70px;
    

    h2{
        color:$color-p;
        font-size: 1.812rem;
    }

    p{
        color: $color-font-gallery;
        font-size: 1rem;
    }
}

.ourgallery-photos img{
    padding: 3px;
}

.ourgallery-button {
    margin-top: 30px;
    text-align: center; 


    a {
        text-decoration: none;
        background: $color-p;
        color: $color-gallery;
        padding: 12px 41px;
        border-radius: 2px; 
        text-transform: uppercase;
        font-weight: bold;
    }

}
