/* Special offers*/
.specialoffers-button a{ 
    color: $color-p;
    background-color: $color-button-d;
    padding: 10px 41px;
    border-radius: 2px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}